event_delegation.html
wet.html
C:\Users\Pawan\Desktop\coding\javascript\jsproject\19_CrudDom
19_CrudDom/index.html
19_CrudDom/script.js
19_CrudDom/style.css
bgimage.png
28_quoteGenerator
28_quoteGenerator/twitter-fill.png
28_quoteGenerator/index.html
C:\Users\Pawan\Desktop\coding\javascript\jsproject\28_quoteGenerator\index.html
